%div#content_container
  %div.not_tablet
    %div.instructions
      %p.alert This page is optimized for viewing on an iPad.
  %header= $entry_title
  %div.body_text
    %div#title_block
      %p= $entry_pub
    %article= $entry_content
  %footer
