#container
  %header{ :class => "masthead segment" }
    %div{ :class => "container" }
      %div{ :class => "introduction" }
        %h1{ :class => "ui dividing header" }= $entry_title
        %p= $entry_intro
        %div{ :class => "ui basic labeled icon toggle overview button" }= $entry_pub
  #main{ :role => "main", :class => "main container" }
    %article{ :class => "ui column" }= $entry_content
  %footer
