#container
  %header{ :class => "masthead segment" }= "Aristotl, an alternative browser for Plato.stanford.edu"
  #main{ :role => "main", :class => "content ui page grid"}
    %article{ :class => "ui column" }= $content
  %footer
