.container
  %div{ :class => "ui form message", :id => "index-jump" }
    %div{ :class => "ui header" }
      Read an article on the Stanford Encyclopedia of Philosophy:
    %div{ :class => "inline field" }
      %label
        :markdown
          `http://plato.stanford.edu/entries/`
      %input{ :type => "type", :placeholder => "e.g. aristotle" }
  %header{ :class => "ui header" }
    <i class="circular book icon"></i>
    %h1{ :class => "content" }
      = $site_title
      %div{ :class => "sub header" }
        = $site_tagline
  #main{ :role => "main", :class => "main content"}
    %article
      :markdown
        **Aristotl** is an alternative layout and reader for the [Stanford Encyclopedia of Philosophy](http://plato.stanford.edu). I created this because I was frustrated with the small text, poor contrast, and cluttered chrome of the SEP website. **Aristotl** is meant to be a re-grounding of the SEP's articles in the *content alone*, just as Aristotle attempted to re-ground Plato's transcendental philosophy. **Aristotl** is still very much in alpha, and currently the only thing you can do is read an entry, but I plan to develop this into a full-featured article browser, so-to-speak.
        
        To use **Aristotl**, find an article you would like to read, copy the `/entries/entry-name` portion of the URL, and then paste it at the end of the URL of this page. For example, `http://plato.stanford.edu/entries/montaigne/` would become `http://www.aristotl.co/entries/montaigne/`.
        
        If you would like to contribute to the development of **Aristotl**, please check it out [on GitHub](https://github.com/bsima/aristotl). Pull requests are very welcome!
  %footer
