<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Aristotl</title>

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="//bootswatch.com/flatly/bootstrap.min.css"> -->
        <!-- Blog -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- JavaScript -->
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="top" style="display:box;height:75px"></div>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Artistotl</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#top">Back to top</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <footer>
          <center>
            <p>Fair Use Notice</p>

            <p>This site contains copyrighted material the use of which has not always been
              specifically authorized by the copyright owner. We are making such material
              available in our efforts to advance understanding of philosophical, religious,
              ecclesiastical, political, human rights, scientific, and social justice issues,
              etc. We believe this constitutes a 'fair use' of any such copyrighted material
              as provided for in section 107 of the US Copyright Law. In accordance with Title
              17 U.S.C. Section 107, the material on this site is distributed without profit
              to those who have expressed an interest in receiving the included information
              for comment, criticism, research, news reporting, teaching and scholarship
              purposes.</p>

            <p>For more information visit <a href="http://www.law.cornell.edu/uscode/text/17/107">this document.</a></p

            <p>If you wish to use copyrighted material from this site for purposes of your
              own that go beyond 'fair use', you must obtain permission from the copyright
              owner.</p>

          </center>
        </footer>
    </body>
</html>
